# [submodule "tools/capa"]
# 	path = tools/capa
# 	url = https://github.com/mandiant/capa
# [submodule "tools/volatility"]
# 	path = tools/volatility
# 	url = https://github.com/volatilityfoundation/volatility
[submodule "tools/volatility3"]
	path = tools/volatility3
	url = https://github.com/volatilityfoundation/volatility3
[submodule "tools/volatility-plugins"]
	path = tools/volatility-plugins
	url = https://github.com/f-block/volatility-plugins
[submodule "tools/modex"]
	path = tools/modex
	url = https://github.com/reverseame/modex
