[submodule "volatility"]
	path = tools/volatility
	url = https://github.com/volatilityfoundation/volatility
[submodule "volatility3"]
	path = tools/volatility3
	url = https://github.com/volatilityfoundation/volatility3
[submodule "modex"]
	path = tools/modex
	url = https://github.com/reverseame/modex
[submodule "volatility-plugins"]
	path = tools/volatility-plugins
	url = https://github.com/f-block/volatility-plugins
[submodule "Detect-It-Easy"]
	path = tools/Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy
